.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.help-tip {
    position: absolute;
    top: 95px;
    right: 18px;
    text-align: center;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
}

.help-tip:before {
    content: "?";
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.help-tip p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.results {
    display: flex;
}

#chartContainer {
    flex: 4;
    padding: 20 px;

}

#errorone,
errortwo,
errorthree {
    left: 60%;
}

#frequencies {
    flex: 1;
    flex-direction: column;
}

#questions {
    margin: 10px
}

#results {
    flex: 1;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-image: url("fourth_try.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    /* Vertically center content */
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: Candara, serif;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

input {
    width: 80px;
    position: absolute;
    left: 30%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2px;
}